.selectWrapper {
  padding: 6px 0px;

  .redItem {
    color: rgb(211, 47, 47);;
  }

  .selectItem {
    padding: 5px 15px;
    cursor: pointer;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;

    &:hover {
      background-color: #ccc;
    }
  }
}
