$margin: 17px;

.repoListWrapper {
  display: flex;
  width: 100%;
  flex-wrap: wrap;

  .repoItem {
    background-color: #fff;
    margin: 12px;
    box-shadow: 0 2px 4px 0 rgba(226, 228, 245, 0.5);
    border-radius: 25px;
    max-width: 500px;
    min-width: 300px;
    flex-shrink: 1;
    flex-grow: 1;

    .header {
      margin: 19px $margin 0 $margin;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .name {
        font-size: 15px;
        font-weight: 500;
        color: #000;
      }

      .icon {
        width: 15px;
        height: 15px;
        cursor: pointer;
      }
    }

    .tags {
      font-size: 12px;
      margin: 10px $margin;

      .github {
        width: 15px;
        height: 15px;
        margin-bottom: -3px;
      }

      .line {
        color: #d9d9d9;
        margin-left: 4px;
        margin-right: 7px;
      }

      .tag {
        color: #202d40;
      }
    }

    .lineCenter {
      height: 2px;
      background-color: #eeeff2;
    }

    .prs {
      margin: 6px $margin;
      display: flex;

      .left {
        font-size: 11px;
        font-weight: 500;
        line-height: 1.43;
        letter-spacing: 0.17px;
        text-align: left;
        color: #7368db;
        width: 70px;
      }

      .right {
        flex-grow: 1;
        flex-shrink: 1;

        .prsItem {
          color: #202d40;
          font-size: 11px;
          margin-bottom: 4px;

          .commitMessage {
            color: #919DAE;
          }
        }
      }
    }
  }
}
