@import "/src/styles/utils";

.emailWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  @include setVerticalPadding(23px);
  padding-left: 28px;

  p:nth-child(2) {
    margin-left: 36px;
    width: 300px;
  }

  button:nth-child(3) {
    margin-left: 212px;
  }
}
