@import "@/styles/globalVar.scss";

.item {
  display: inline-block;
}

.inputItem {
  border-radius: 9px;
  background-color: rgba(228, 235, 242, 0.4);
  padding: 6px 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: flex-start;

  .left {
    width: 120px;
    margin-right: 20px;
  }

  .center {
    width: 120px;
  }

  .right {
    position: relative;
    margin-right: 40px;
    padding-left: 20px;
  }

  .deleteIcon {
    cursor: pointer;
    margin-left: 10px;
    position: absolute;
    top: 10px;
    right: -30px;
  }
}

.header {
  background-color: #fff;
  font-size: 15px;
  font-weight: 600;
  color: #000;
  height: 30px;

  .line {
    background-color: #fff;
  }

  .right {
    padding-left: 30px;
  }
}

.error {
  @include errorStyle;
}

.add {
  @include globalAddBtn;
}








