
.wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  .item {
    margin: 13px 40px;
    justify-content: flex-start;
    //flex-grow: 1;
    //flex-shrink: 1;
    //flex-basis: 350px;
    width: 400px;
    //min-width: 350px;
    //max-width: 450px;
    height: 124px;
    padding: 11px 15.3px 11.9px 22px;
    box-shadow: 0 4px 8px 0 rgba(244, 243, 245, 0.25);
    border-image-source: linear-gradient(to bottom, #1d56bc 0%, #419ce2 100%);
    background-color: #fefdff;
    cursor: pointer;
    border-radius: 6px;

    //@media screen and (max-width: 1300px) {
    //  width: calc(50% - 100px);
    //  //width: 50%;
    //}
    //
    //@media screen and (max-width: 1600px) and (min-width: 1300px) {
    //  width: calc(30% - 100px);
    //}

    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    transition: transform .2s linear;

    &:hover {
      transform: translateY(-2px);
      border: 1px solid #419ce2;
    }

    &:after {
      content: '';
      display: block;
      width: 0px;
      background: linear-gradient(to bottom, #194fb8 -4%, #47a8e9 107%);
      position: absolute;
      transition: width .1s linear;
      position: absolute;
      left: 0px;
      top: 0px;
      height: 100%;
    }

    &:hover::after {
      content: '';
      width: 8px;
    }


    .left {
      img {
        width: 22px;
        height: 28px;
        margin-right: 20px;
      }
    }

    .right {
      flex-grow: 1;

      .title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #16111e;
        font-size: 15px;
        font-weight: 500;
        width: 100%;

        .statusIcon {
          font-size: 13px;
          display: flex;
          align-items: center;

          img {
            width: 15px;
            height: 15px;
            margin-right: 10px;
          }
          .rotate{
            animation: load 1s linear infinite;
          }

          .running {
            color: #38c17d;
          }

          .creating {
            color: #ffb31f;
          }

          .failed {
            color: #ff6046;
          }
        }
      }

      .status {
        margin: 4px 0;
        font-size: 12px;
        color: #919dae;
      }

      .stack {
        padding: 0 12px;
        border: solid 1px #9e9d9e;
        font-size: 10px;
        border-radius: 6px;
        height: 20px;
        color: rgba(0, 0, 0, 0.87);
        margin-top: 10px;
      }
    }
  }
}

@keyframes load {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


