@import "../../../styles/globalVar.scss";

.slider {
  height: 100%;
  width: 100%;
  padding: 20px 20px 20px 0;

  .title {
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 500;
    color: $global-font-color;
  }

  .Mui-selected {
    color: red;
  }
}

