@import "/src/styles/utils";

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  @include setVerticalPadding(12.52vh);

  h1 {
    font-size: 25px;
    font-family: "OpenSans";
  }

  h2 {
    font-size: 15px;
    font-weight: 500;
  }

  .card {
    width: 751px;
    border-radius: 10px;
    background-color: #fff;
  }
}
