
.item {
  width: 100%;
  //display: flex;


  //.label {
  //  width: 200px;
  //  font-size: 15px;
  //  font-weight: 500;
  //  color: #000;
  //}

  //.content {
  //  width: calc(100% - 200px);
  //}

  .add {
    width: 200px;
    height: 36px;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    padding-left: 25px;
    cursor: pointer;
    margin-bottom: 20px;

    .addIcon {
      font-size: 15px;
      margin-right: 5px;
    }

    .addDesc {
      font-size: 15px;
      color: #606479;
    }
  }
}

.inputItem {
  border-radius: 9px;
  background-color: rgba(228, 235, 242, 0.4);
  padding: 6px 4px;
  margin-bottom: 10px;
  //vertical-align:middle;
  display: flex;
  align-items: center;

  .deleteIcon {
    //margin-left: 10px;
    //margin-top: 10px;
    cursor: pointer;
    //margin: auto 10px;
    margin-left: 10px;
  }

  .line {
    margin: 0 30px;
    display: inline-block;
    width: 1px;
    height: 37px;
    background-color: #e1e3e6;
    vertical-align:middle;
  }
}
