
.item {
  //width: 100%;
  //display: flex;
  display: inline-block;

  //.label {
  //  width: 200px;
  //  font-size: 15px;
  //  font-weight: 500;
  //  color: #000;
  //}

  //.content {
  //  width: calc(100% - 200px);
  //}

  .add {
    width: 200px;
    height: 36px;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    padding-left: 25px;
    cursor: pointer;
    margin-bottom: 20px;

    .addIcon {
      font-size: 15px;
      margin-right: 5px;
    }

    .addDesc {
      font-size: 15px;
      color: #606479;
    }
  }
}

.inputItem {
  border-radius: 9px;
  background-color: rgba(228, 235, 242, 0.4);
  padding: 6px 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;

  .deleteIcon {
    cursor: pointer;
    margin-left: 10px;
  }

  .line {
    margin: 0 30px;
    display: inline-block;
    width: 1px;
    height: 37px;
    background-color: #e1e3e6;
  }

  .checkbox {
    display: flex;

    .checkItem {
      border-radius: 9px;
      border: solid 1px #e1e3e6;
      background-color: #eceef2;
      width: 81px;
      height: 22px;
      font-size: 10px;
      line-height: 20px;
      text-align: center;
      margin-right: 4px;
      cursor: pointer;

      .icon {
        margin-right: 10px;
        display: none;
      }
    }

    .selected {
      border: solid 1px #305ba2;
      background-color: #dde8f9;
      color: #345fa7;

      .icon {
        display: inline;
      }
    }
  }
}
