/** Import tailwindcss **/
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./globalVar";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
  font-family: Jost;
}

body {
  min-width: $global-min-width;

  .MuiButton-root {
    text-transform: none;
  }
}

.MuiButton-containedPrimary {
  background-color: #5747eb;

  &:hover {
    background-color: #5747eb;
  }
}

@font-face {
  font-family: 'Jost';
  src: url("./fonts/Jost-Light.ttf");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Jost';
  src: url("./fonts/Jost-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: 'Jost';
  src: url("./fonts/Jost-Medium.ttf");
  font-style: normal;
  font-weight: 500;
}


:global(.Mui-focused) {

}

