$global-max-width: 1620px;

$global-min-width: 992px;

$global-font-color: #4C4E67;

$global-primary-color: #6002ee;

$theme-color: #6002ee;

@mixin globalWidth {
  max-width: $global-max-width;
  min-width: $global-min-width;
}

@mixin overflowEllipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin timeStyles {
  color: #5b626c;
}

@mixin moreIconWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  :global(.MuiSvgIcon-root:hover) {
    background-color: #eee;
    border-radius: 4px;
  }
}

