/** Import tailwindcss **/
//@tailwind base;
//@tailwind components;
//@tailwind utilities;

@import "./globalVar";

html,
body,
ul {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

body {
  min-width: $global-min-width;

  .MuiButton-root {
    text-transform: none;
  }
}

.MuiButton-containedPrimary {
  background-color: #5747eb;

  &:hover {
    background-color: #5747eb;
  }
}

:global(.Mui-focused) {

}

.MuiPaper-root {
  border-top-left-radius: 14px;
  border-bottom-left-radius: 14px;
  box-shadow: -2px 4px 10px 0 rgba(226, 228, 245, 0.6);
}
