
.deleteIcon {
  padding: 4px 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin: 10px 0;

  &:hover {
    background-color: #ccc;
  }
}


.wrapper {
  background-color: #fff;

  .orgWrapper {
    display: flex;
    align-items: center;

    .githubIcon {
      width: 30px;
      height: 30px;
      margin-right: 10px;
    }

    .orgName {
      line-height: 14px;
      font-weight: 500;
    }
  }

  .moreIcon {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    .icon {
      cursor: pointer;
    }
  }
}
