
.item {
  width: 100%;
  display: flex;

  .label {
    width: 200px;
    font-size: 15px;
    font-weight: 500;
    color: #000;
  }

  .content {
    width: calc(100% - 200px);
  }

  .add {
    width: 200px;
    height: 36px;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    padding-left: 25px;
    cursor: pointer;
    margin-bottom: 20px;

    .addIcon {
      font-size: 15px;
      margin-right: 5px;
    }

    .addDesc {
      font-size: 15px;
      color: #606479;
    }
  }
}

.inputItem {
  margin-bottom: 20px;

  .deleteIcon {
    margin-left: 10px;
    margin-top: 10px;
    cursor: pointer;
  }

  .equal{
    font-size: 24px;
    margin: 20px 10px 0px 10px;
  }
}
