@import "../../styles/globalVar.scss";

.header {
  height: 60px;
}

.contentWrappper {
  width: 100%;
  min-height: calc(100vh - 60px);
}

.content {
  min-height: calc(100vh - 60px);
  display: flex;
  max-width: $global-max-width;
  padding: 0 20px;
  margin: 0 auto;
  flex-grow: 1;
  width: 100%;

  .left {
    width: 237px;
    display: flex;
    background-color: #fff;
  }

  .center {
    background-color: #f7f9ff;
    width: calc(100% - 237px - 350px);
    border-left: 1px solid rgb(225, 228, 239);
    border-right: 1px solid rgb(225, 228, 239);

    .pageHeader {
      padding: 24px 24px 16px 24px;
      font-size: 28px;
      font-weight: 500;
      line-height: 1.4;
      color: #6002ee;
      font-family: Jost;
      display: flex;
      justify-content: space-between;
    }
  }

  .right {
    width: 350px;
    background: #fff;
  }

  @media screen and (max-width: 1300px) {
    .center {
      width: calc(100% - 237px - 100px);
    }
    .right {
      width: 100px;
    }
  }
}


