@import "../../styles/globalVar.scss";

.header {
  height: 60px;
}

.contentWrappper {
  width: 100%;
  min-height: 100vh;
}

.content {
  height: 100vh;
  display: flex;
  margin: 0 auto;
  width: 100%;
  background-color: #f4f5fe;

  .left {
    display: flex;
    justify-content: flex-start;
  }

  .right {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    overflow-y: scroll;

    .pageHeader {
      padding: 24px 24px 16px 24px;
      font-size: 28px;
      font-weight: 500;
      line-height: 1.4;
      color: #6002ee;
      font-family: Jost;
      display: flex;
      justify-content: space-between;
    }
  }
}


