@import "../../styles/globalVar.scss";

.header {
  height: 60px;
}

.contentWrappper {
  width: 100%;
  min-height: 100vh;
}

.content {
  height: 100vh;
  display: flex;
  margin: 0 auto;
  width: 100%;
  background-color: #f4f6f8;


  .left {
    display: flex;
    justify-content: flex-start;
    box-shadow: 0 4px 10px 0 rgba(226, 228, 245, 0.5);
    z-index: 1;
  }

  .right {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    overflow-y: scroll;

    .pageHeader {
      padding: 50px 40px 10px 40px;
      display: flex;
      justify-content: space-between;
      font-size: 25px;
      letter-spacing: normal;
      text-align: left;
      color: #000;

      .rightBtn {
        color: #fff;
        font-size: 14px;
        cursor: pointer;
        line-height: 44px;
        padding: 0 16px;
        background-color: #1b51b9;
        border-radius: 4px;
      }

    }
  }
}


