
.pageWrapper {
  background: #fff;
  box-shadow: 0 0 10px 0 rgba(102, 151, 245, 0.25);
  border: solid 2px #e9eaef;
  margin: 0 90px 0 10px;
  min-height: 800px;
  padding: 20px 93px 20px 47px;

  .title {
    font-size: 18px;
    font-weight: 500;
    color: #000;
    margin-top: 36px;
    margin-bottom: 22px;
  }

  .cardWrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
  }

  .card {
    box-shadow: 0 4px 6px 0 #e8e9eb;
    background-color: #fff;
    padding: 18px;
    width: 48%;

    .iconAndContent {
      display: flex;
      border-bottom: 1px solid #f3f4f5;
      padding-bottom: 18px;

      .icon {
        width: 33px;
        height: 33px;
        box-shadow: 0 4px 6px 0 #e8e9eb;
        margin-right: 20px;

        img {
          width: 33px;
          height: 33px;
        }
      }

      .content {
        .name {
          color: #000;
          font-size: 15px;
        }

        .tag {
          color: #656e7c;
          font-size: 9px;
        }

        .repo {
          font-size: 9px;
          color: #000;

          .labelRepo {
            color: #656e7c;
          }
        }
      }
    }

    .url {
      font-size: 9px;
      color: #000;
      margin-top: 9px;

      .urlLabel {
        color: #656e7c;
      }
    }
  }
}


.contentWrapper {
  .itemCard {
    padding: 16px;
    margin-top: 20px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

    .itemCardTitle {
      font-size: 20px;
      font-weight: 500;
      color: rgba(0, 0, 0, 0.87);
    }

    .itemCardContent {
      margin-top: 16px;
      font-size: 14px;
      color: rgba(0, 0, 0, 0.87);
    }

    .itemButton {
      display: flex;
      margin-top: 30px;

      @mixin Button {
        width: 90px;
        background-color: #7368db;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        cursor: pointer;
        color: #fff;
      }

      .leftButton {
        @include Button;
        margin-right: 30px;
      }

      .rightButton {
        @include Button;

      }
    }
  }
}


