@import "../../../../styles/utils";

.createApplicationWrapper {
  display: flex;
  margin-left: 1vw;
}

.side {
  width: 40.5px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.panel {
  background-color: white;
  box-shadow: 0 0 10px 0 rgba(102, 151, 245, 0.25);
  position: relative;
  width: 44.44vw;
  // margin-left: 0.6vw;
  @include setHorizontalPadding(3vw);
  @include setVerticalPadding(24px);
}

.createBtn {
  @include setVerticalMargin(10px);
}

.suspendBtn {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 26px;

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
  }
  
  button:hover {
    border-radius: 50%;
    background-color: #f2f4f6;
  }

  span {
    content: "";
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    background-color: #f2f4f6;
    border-radius: 50%;

    &::after {
      content: "";
      display: block;
      width: 7.1px;
      height: 7.1px;
      $border: solid 2px #858687;
      border-left: $border;
      border-bottom: $border;
    }

    &.left::after {
      transform: rotate(45deg);
    }
    &.right::after {
      transform: rotate(225deg);
    }
  }



}
