@import "/src/styles/utils";

@mixin chosenStatus {
  position: relative;
  box-shadow: 0 0 5px 0 rgba(144, 182, 255, 0.15);
  border-style: solid;
  border-width: 2px;
  border-image-source: linear-gradient(136deg, #194eb7 0%, #46a7e8 97%);
  border-image-slice: 1;
  border-radius: 5px;
  background-image: linear-gradient(white, white),
    linear-gradient(136deg, #194eb7 0%, #46a7e8 97%);
  background-origin: border-box;
  background-clip: content-box, border-box;

  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
    top: -1px;
    right: -1px;
  }
  &::before {
    width: 29px;
    height: 27.6px;
    background-image: linear-gradient(133deg, #286cc7 0%, #3c93dd 104%);
    clip-path: polygon(0 0, 100% 0, 100% 100%);
  }
  &::after {
    content: "";
    display: block;
    width: 0px;
    height: 0px;
    width: 6px;
    height: 10px;
    border-right: solid 2px white;
    border-bottom: solid 2px white;
    // background-color:transparent;
    position: absolute;
    top: 2px;
    right: 6px;
    transform: rotate(45deg);
  }
}

$panelWidth: 807px;

.panel {
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 0 10px 0 rgba(102, 151, 245, 0.25);
  position: relative;
  width: $panelWidth;
  margin: 40px auto;
  padding: 34px 42px;
  position: relative;

  h1 {
    font-size: 25px;
    font-weight: 500;
  }

  h2 {
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 500;
  }

  & > form > div:first-child h1 {
    margin-top: 0;
  }

  .gitProviderWrap,
  .applicationNameWrap,
  .domainWrap {
    display: flex;
    flex-direction: row;
    font-size: 15px;

    margin-top: 53px;
    gap: 52px;
  }

  .applicationNameInput,
  .domainInput {
    input {
      height: 36px;
      box-sizing: border-box;
      padding: 7px 27px;
    }

    fieldset {
      border: solid 1px rgba(0, 0, 0, 0.23) !important;
    }
  }

  .applicationNameWrap {
    display: flex;
    flex-direction: row;
    font-size: 15px;

    margin-top: 36px;
    gap: 52px;

    .applicationNameInput {
      width: 614px;

      input {
        height: 36px;
        box-sizing: border-box;
        padding: 7px 27px;
      }
    }

    .applicationName {
      margin: 0;
      margin-top: 6px;
    }
  }

  .stacksWrap, .clustersWrap {
    margin-top: 53px;
  }

  .star {
    color: #f44336;
    margin-left: 3px;
  }

  .clusters {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    list-style-type: none;

    li {
      width: 169px;
      height: 57px;
      border-radius: 5px;
      box-shadow: 0 0 5px 0 rgba(144, 182, 255, 0.15);
      border: solid 2px #e9eaef;
      background-color: #fff;
      display: flex;
      align-items: center;
      font-size: 13px;
      font-family: Jost;
      cursor: pointer;
      position: relative;
    }

    .clusterIcon {
      height: 25px;
      width: 54px;
      position: relative;
    }

    .chosenCluster {
      @include chosenStatus;
    }

    .inactiveCluster {
      filter: grayscale(100%);
      color: #6c727b;
      cursor: not-allowed;
    }

    .spinner {
      position: absolute;
      right: -26px;
      bottom: -34px;
    }
  }

  .gitProviderWrap {
    gap: 20px;

    .gitProviderSelect {
      width: 614px;

      & > div {
        display: flex;
        align-items: center;
        gap: 7px;
        @include setVerticalPadding(9px);
        @include setHorizontalPadding(28px);

        & > div {
          div:nth-child(1) {
            font-size: 15px;
          }

          div:nth-child(2) {
            font-size: 12px;
            color: #6c727b;
          }
        }

      }
      fieldset {
        border: solid 1px rgba(0, 0, 0, 0.23);
      }
    }
  }

  .domainWrap {
    gap: 47px;

    h2 {
      margin-top: 6px;
    }

    .domainInput {
      min-width: 614px;
    }
  }

  .underBackground {
    position: absolute;
    width: $panelWidth - 56px;
    height: 100px;
    background-color: #f1f6ff;
    border-radius: 17px;
    left: 28px;
    transition: top 400ms ease-in-out;
  }
}

.stacks {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  text-transform: capitalize;
  
  & > li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // @include setEqualWidthHeight(94px);
    width: 98.7px;
    height: 98px;
    border: solid 2px #e9eaef;
    box-shadow: 0 0 5px 0 rgba(144, 182, 255, 0.15);
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(144, 182, 255, 0.15);
    cursor: pointer;
  }

  .icons {
    display: flex;
    justify-content: center;
  }

  .stackName {
    color: transparent;
    font-size: 15px;
    font-family: Jost;
    background-clip: text;
    background-image: linear-gradient(to right, #184db6 27%, #53c2f7 116%);
  }

  .chosenStack {
    @include chosenStatus;
  }
}

.gitProviderItem {
  display: flex;
  align-items: center;
  gap: 7px;
  padding-left: 28px !important;
  padding-right: 28px !important;

  .gitOrgname {
    font-size: 15px;
  }

  .gitProviderUpdate {
    font-size: 12px;
    color: #6c727b;
  }
}

.submitWrap {
  display: flex;
  
  .submit {
    cursor: pointer;
    display: flex;
    width: 101px;
    height: 42px;
    text-transform: uppercase;
    color: #fff;
    font-size: 15px;
    margin-top: 65px;
    border-radius: 4px;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.12),
    0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
    background-color: #1b51b9;

    &::after {
      display: none;
    }

    &::before {
      display: none;
    }
  }

  .submit:hover {
    background-color: #1b51b9;
  }
}
