
.wrapper {
  display: flex;
  flex-wrap: wrap;

  .card {
    cursor: pointer;
    width: calc(50% - 40px);
    padding: 20px;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 200px;
    box-shadow: rgb(218, 220, 224) 0px 1px 3px 0px;
  }
}
