@import "../../../styles/globalVar.scss";

.header {
  background: rgb(18, 18, 38);
  height: 100%;
}

.headerWrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  color: #fff;
  max-width: $global-max-width;
  margin: 0 auto;
}

.left {
  display: flex;
  align-items: center;
  cursor: pointer;

  .logo {
    margin-right: 10px;
    height: 27px;
    display: inline-block;
  }

  .companyName {
    color: #fff;
    font-size: 20px;
  }
}

.right {

}

