.wrapper {
  border: solid 1px #ecf3ff;
  background-color: #fff;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 23px;
  padding-top: 37px;
  padding-left: 25px;
  padding-bottom: 23px;
  max-width: 943px;
}
