@import "@/styles/globalVar.scss";

.clusterItem {
  position: relative;

  img {
    width: 35px;
  }

  //.regionColumn {
  //  width: 300px;
  //  padding-left: 130px;
  //
  //  @media screen and (max-width: 1200px) {
  //    width: 200px;
  //    padding-left: 16px;
  //  }
  //}

  .moreIcon {
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    height: 24px;

    &:hover {
      background-color: #eee;
      border-radius: 4px;
    }
  }

  .clusterMeta {
    display: flex;
    align-items: center;

    .icon {
      margin: 0 15px;
    }

    .name {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .statusDot {
    clip-path: circle(40%);
    width: 11px;
    height: 11px;
  }

  .ActiveDot {
    background-color: #9eea91;
  }

  .InitializingDot {
    background-color: #ffb31f;
  }

  .InactiveDot {
    background-color: #ff6046;
  }

  .region {
    padding: 7px 20px;
    border-radius: 9px;
    background-color: rgba(193, 202, 234, 0.8);
    display: inline-block;
    line-height: 1;
  }

  .version {
    display: inline-block;
    background-color: #e0f5fa;
    padding: 5px 10px;
    border-radius: 12px;
  }

  .statusIconText {
    display: flex;
  }

  .ActiveIconText {
    color: #38c17d;
  }

  .InitializingIconText {
    color: #ffb31f;
  }

  .InactiveIconText {
    color: #ff6046;
  }

  .time{
    @include timeStyles;
  }

}
