.lines {
  margin-right: 17px;
  display: flex;
  gap: 2px;

  .line {
    width: 9px;
    height: 3px;
    border-radius: 1px;
    background-color: #9eea91;
  }

  .noReady {
    background-color: #6c727b;
  }
}
