@import "/src/styles/utils";

.wrapper {
  display: flex;
  gap: 15px;
  flex-direction: row;
  justify-content: flex-end;
  list-style-type: none;
  padding-bottom: 10.5px;

  & li {
    @include setEqualWidthHeight(22px);
    position: relative;
    cursor: pointer;
  }
}
