@import "/src/styles/utils";

.wrapper {
  display: flex;
  gap: 15px;
  flex-direction: row;
  justify-content: flex-end;
  list-style-type: none;
  padding-bottom: 10.5px;

  & li {
    cursor: pointer;
    border: 1.2px dotted #b7b2b2;
    border-radius: 10px;
    @include setHorizontalPadding(5px);
    @include setVerticalPadding(3px);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: rgba(0, 0, 0, 0.7);
  }
}

.dialogContentTextWrap {
  & ul {
    margin-left: 20px;
  }
}
