.wrap {
  display: inline-block;
}

.tabs {
  display: flex;
  justify-content: center;
  border-radius: 11px;
  background-color: #fff;
  padding: 6px;
  position: relative;

  .tab {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: #16111e;
    width: 112px;
    height: 26px;
    border-radius: 11px;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    position: relative;
    transition: color 200ms;
  }

  .slider {
    background-color: black;
    position: absolute;
    transition: left 200ms ease-in-out;
  }

  .selectedItem {
    // background-color: black;
    color: white;
  }
}
