
.menu {
  width: 80px;
  transition: all .3s linear;
  border-bottom-right-radius: 14px;
  border-top-right-radius: 14px;
  background-color: #fff;

  .logoWrapper {
    padding-top: 20px;
    padding-left: 22px;
    padding-bottom: 20px;
    height: 80px;
    overflow: hidden;
    display: flex;
    align-items: center;

    input, fieldset {
      border: 0px !important;
    }

    .logo {
      width: 34px;
      height: 34px;
      border-radius: 4px;
      display: flex;
      align-items: center;
      cursor: pointer;
      border: solid 1px #e9e9ea;

      img {
        width: 34px;
        //height: 34px;
      }
    }
  }

  .menuList {
    height: calc(100% - 200px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .activeMenu {
      border-right: 2px solid #16111e;

      .iconWrapper {
        background-color: #000;
      }
    }

  }
}

.spreadMenu {
  width: 250px;
}

.menuItem {
  margin: 10px 0;
  cursor: pointer;
  position: relative;
  padding-left: 22px;
  width: 100%;

  .iconWrapper {
    display: flex;
    align-items: center;
    width: 34px;
    height: 34px;
    padding-left: 8px;
    border-radius: 7px;

    .menuIcon {
      width: 19px;
      height: 17px;
      min-width: 19px;
    }
  }

  &:hover {
    .nameWrapper {
      display: block;
    }
  }

  .nameWrapper {
    display: none;
    left: 80px;
    top: -4px;
    position: absolute;

    .nameList {
      margin-left: 6px;
      background-color: #fff;
      cursor: pointer;
      box-shadow: 0 1px 4px 0 rgba(145, 157, 174, 0.5);

      .nameItem {
        padding: 10px;
        white-space: nowrap;
      }

      &:before {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0%, -50%);
        border-left: 0;
        border-bottom: 6px solid transparent;
        border-top: 6px solid transparent;
        border-right: 6px solid #fff;
      }
    }
  }
}

.spreadMenuItem {
  justify-content: flex-start;

  .iconWrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 8px;

    .spreadName {
      margin-left: 27px;
      color: #959595;
      font-weight: 500;
      white-space: nowrap;
    }
  }

  .logoutWrapper {
    .iconWrapper {
      width: 50px;
    }
  }
}

.spreadMenuItem.activeMenu {
  .iconWrapper {
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;

    .spreadName {
      color: #fff;
      word-break: keep-all;
    }
  }
}

.userInfo {
  padding-left: 31px;
  transform: rotate(-180deg);
}

.spreadAction {
  //padding-left: 31px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all .3s linear;
  width: 80px;
}

.remote {
  transform: rotate(-180deg);
}




