@import "@/styles/globalVar.scss";

.time {
  @include timeStyles;
}

.name {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 15px;

  img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
  }
}

.table {
  .tbodyRow {
    height: 92px;
    position: relative;
    transition: transform 0.1s linear;

    & > th:first-child {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }

    & > td:last-child {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }

    &::after {
      content: "";
      display: block;
      width: 0px;
      transition: width 0.1s linear;
      position: absolute;
      left: 0px;
      top: 0px;
    }

    &:hover {
      transform: translateY(-2px);
    }

    &:hover::after {
      background-image: linear-gradient(to bottom, #1d57bd 0%, #429de3 100%);
      content: "";
      width: 5px;
      height: 100%;
      border-bottom-left-radius: 5px;
      border-top-left-radius: 5px;
    }
  }
}

.moreIcon {
  @include moreIconWrapper;
}
