.wrapper {
  background-color: #fff;

  .regionColumn {
    width: 300px;
    padding-left: 130px;

    @media screen and (max-width: 1200px) {
      width: 200px;
      padding-left: 16px;
    }
  }
}

.emptyContent {
  text-align: center;
  color: #999;
}

.deleteIcon {
  padding: 4px 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin: 10px 0;

  &:hover {
    background-color: #ccc;
  }
}
