@import "../../../styles/utils";

.basicApplicationInfoWrap {
}

.applicationName,
.cluster {
  // margin-bottom: 47px;
}

.stacks {
  display: flex;
  gap: 15px;
  text-transform: capitalize;

  & > li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 139px;
    height: 139px;
    border: solid 2px #e9eaef;
    box-shadow: 0 0 5px 0 rgba(144, 182, 255, 0.15);
  }

  .icons {
    display: flex;
    justify-content: center;
  }

  .chosenStack {
    background-color: #fcf8ff;
    position: relative;
    &::before, &::after {
      content: "";
      // width: 41px;
      // height: 41px;
      display: block;
      position: absolute;
      top: 0;
      right: 0;

    }
    &::before {
      border: solid 20px #ba77ff;
      border-left: solid 20px transparent;
      border-bottom: solid 20px transparent;
    }
    &::after {
      content: "";
      display: block;
      width: 0px;
      height: 0px;
      width: 10px;
      height: 18px;
      border-right: solid 3px white;
      border-bottom: solid 3px white;
      // background-color:transparent;
      position: absolute;
      top: 0;
      right: 7px;
      transform: rotate(45deg);
    }
  }
}
